<ion-content>

  <div class="background">

    <div class="title">
      <h1>Recover Password</h1>
    </div>

    <div class="info">
      <p>Enter a valid email address to send a password reset request</p>
    </div>

    <div class="name">

      <div>Name</div>

      <div>
        <ion-input placeholder="Name"></ion-input>
      </div>

    </div>

    <div class="email">

      <div>Email</div>

      <div>
        <ion-input placeholder="Name"></ion-input>
      </div>

    </div>

    <div class="botton">
      <ion-button [routerLink]="['/home']" >Submit</ion-button>
      <ion-button [routerLink]="['/home']" >Exit</ion-button>
    </div>
  </div>

</ion-content>