ion-content {
  --background: url(/assets/image/cor_de_fundo.svg) no-repeat center center / cover !important;
  margin: auto;
  text-align: center;
}

.info {
  text-align: justify;
  padding-left: 80px;
  padding-right: 80px;
}