<ion-content>

  <div>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </div>
  
  <div>
    <div>
      
      <ion-item [routerLink]="['/folder']" routerLinkActive="active">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Aulas</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/folder']" routerLinkActive="active">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Best</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/folder']" routerLinkActive="active">
        <ion-icon name="folder"></ion-icon>
        <ion-label> Captura de Tela</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/folder']" routerLinkActive="active">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Computador</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/folder']" routerLinkActive="active">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Eventos</ion-label>
      </ion-item>

      <ion-item [routerLink]="['/help']" routerLinkActive="active">
        <ion-icon name="folder"></ion-icon>
        <ion-label>Projetos</ion-label>
      </ion-item>
    </div>
  </div>

</ion-content>