<ion-app>
  <ion-menu contentId="content1" side="start" type="reveal">

    <ion-content>

      <ion-list>

        <ion-item [routerLink]="['/main']" routerLinkActive="active">
          <ion-label>Home</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/trash']" routerLinkActive="active">
          <ion-label>trash</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/settings']" routerLinkActive="active">
          <ion-label>Settings</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/about']" routerLinkActive="active">
          <ion-label>About</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/help']" routerLinkActive="active">
          <ion-label>Help</ion-label>
        </ion-item>

        <ion-item [routerLink]="['/home']" routerLinkActive="active">
          <ion-label>exit</ion-label>
        </ion-item>

      </ion-list>

    </ion-content>

  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
