<ion-header no-border>
  <ion-img src="../assets/image/icone_1.svg"></ion-img>
</ion-header>

<ion-content>

  <div class="login">

    <div class="username">
      <ion-input placeholder="Username"></ion-input>
    </div>

    <div class="password">
      <ion-input placeholder="Password"></ion-input>
    </div>

  </div>

  <div class="memory">
    <a [routerLink]="['/register']">Register</a>
    <br />
    <a [routerLink]="['/recover']">Recover Password</a>
  </div>

  <div class="inputADNoutput">

    <ion-button [routerLink]="['/main']">Login</ion-button>
    <ion-button>Exit</ion-button>

  </div>
</ion-content>