<ion-content>
  <div class="background">

    <div class="title">
      <h1>Register</h1>
    </div>

    <div class="register">

      <div>
        <div>Name</div>
        <ion-input placeholder="Name"></ion-input>
      </div>

      <div>
        <div>Email</div>
        <ion-input placeholder="Email"></ion-input>
      </div>

      <div>
        <div>Username</div>
        <ion-input placeholder="Username"></ion-input>
      </div>

      <div>
        <div>Password</div>
        <ion-input placeholder="Password"></ion-input>
      </div>

    </div>

    <div class="botton">
      <ion-button [routerLink]="['/home']" >Save</ion-button>
      <ion-button [routerLink]="['/home']" >Exit</ion-button>
    </div>
  </div>
</ion-content>